body {
  background-image: url(../bgImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: darkslategrey;
  font-family: 'Revalia', cursive; }
  body header {
    height: 110px;
    margin-bottom: 20px;
    vertical-align: top; }
    body header h1 {
      text-align: center;
      margin-top: -15px; }
  body .content {
    background-color: rgba(61, 61, 61, 0.8);
    color: white;
    padding: 25px;
    margin-bottom: 25px; }
    body .content button {
      color: black; }
    body .content tbody tr {
      text-align: center; }
      body .content tbody tr .color {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        border: 2px solid black;
        margin-bottom: 5px; }
      body .content tbody tr:hover {
        background-color: yellow;
        color: black;
        cursor: pointer;
        transform: scale(1.05) skew(-5deg);
        box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5); }
    body .content form {
      padding: 25px;
      background-color: rgba(61, 61, 61, 0.8); }
      body .content form h3 {
        text-align: center; }
      body .content form input {
        color: black;
        display: block;
        margin-bottom: 10px; }
        body .content form input::placeholder {
          color: black; }
        body .content form input.ng-invalid {
          background-color: indianred;
          border: 2px solid red; }
        body .content form input.ng-pristine {
          background-color: white; }
      body .content form button {
        display: block; }
