body {
    background-color: grey;
    header {
        text-align: center;
        margin-bottom: 20px;
        background-color: darkslategrey;
    }
    div {
        tbody {
            tr {
                text-align: center;
                .color {
                    height: 30px;
                    width: 30px;
                    border-radius: 5px;
                    border: 2px solid black;
                    margin-bottom: 5px;
                }
                &:hover {
                    background-color: yellow;
                    cursor: pointer;
                }
            }   
        }
        form {
            input {
                display: block;
            }
            button {
                display: block;
            }
        }
    }
}