body {
    background-image: url(../bgImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: darkslategrey;
    font-family: 'Revalia', cursive;
    header {
        height: 100px;
        text-align: center;
        margin-bottom: 20px;
        vertical-align: top;
        h1{
            letter-spacing: 25px;
            
        }
        
    }
    .content {
        background-color: rgba(61,61,61,.8);
        color: white;
        padding: 25px;
        margin-bottom: 25px;
        button {
            color: black;
        }
        tbody {
            tr {
                text-align: center;
                .color {
                    height: 30px;
                    width: 30px;
                    border-radius: 5px;
                    border: 2px solid black;
                    margin-bottom: 5px;
                }
                &:hover {
                    background-color: yellow;
                    color: black;
                    cursor: pointer;
                    transform: scale(1.05) skew(-5deg);
                    box-shadow: -10px 10px 15px rgba(0,0,0,.5);
                }
            }   
        }
        
        form {
            //margin: 25px;
            padding: 25px;
            background-color: rgba(61,61,61,.8);
            h3 {
                text-align: center;
            }
            input {
                color: black;
                &::placeholder {
                    color: black;
                }
                &.ng-invalid {background-color: indianred; border: 2px solid red;}
                &.ng-pristine {background-color: white;}
                display: block;
                margin-bottom: 10px;
            }
            button {
                display: block;
            }
        }
    }
}
