<!doctype html>
<html ng-app='taco'>
  <head>
  	<title>Shopular</title>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="css/main.css">
  </head>
  <body class="container-fluid row">
	<header class="col-md-12">
		<h1>Shopular</h1>
	</header>
    <div ng-controller='HeaderController as vm' class="col-md-6 col-md-offset-3">
			<table class="table" ng-class="vm.table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>On Sale</th>
						<th>Quantity</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.items | orderBy:'quantity'">
						<td>{{item.name}}</td>
						<td>${{vm.getPrice(item)}}</td>
						<td><span ng-if="item.discount > 0" ><img src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png"></span></td>
						<td><button ng-click="vm.changeQuantity(item,false)">-</button>
							{{item.quantity}}
							<button ng-click="vm.changeQuantity(item,true)">+</button>
						</td>
						<td><div class="color" style="background-color:{{item.color}}"></div></td>
					</tr>
				</tbody>
			</table>
			<form novalidate name='userDetails' ng-submit='vm.update(userDetails.$valid)'>
				Name: <input type="text" ng-model="vm.item.name" >
				Price: <input type="number" ng-model="vm.item.price" >
				Quantity: <input type="number" ng-model="vm.item.quantity" >
				Color: <input type="text" ng-model="vm.item.color" >
				discount: <input type="number" ng-model="vm.item.discount" >
				<input type="submit">
			</form>
    </div>

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='js/main.js'></script>
  </body>
</html>